<div class="table-responsive hebrewtable">
    <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th title="id"><span class="thspan">id</span></th>
                <th title="תאריך"><span class="thspan">תאריך</span></th>
                <th title="זכות"><span class="thspan">זכות</span></th>
                <th title="חובה"><span class="thspan">חובה</span></th>
                <th title="דירה"><span class="thspan">דירה</span></th>
                <th title="שם"><span class="thspan">שם</span></th>
                <th title="קבלה"><span class="thspan">קבלה</span></th>
                <th title="עבור"><span class="thspan">עבור</span></th>
                <th title="פירוט"><span class="thspan">פירוט</span></th>
                <th title="סוג תשלום"><span class="thspan">סוג תשלום</span></th>
                <th title="ספק"><span class="thspan">ספק</span></th>
                <th title="ספקי שונות"><span class="thspan">ספקי שונות</span></th>
                <th title="פירוט ספקי שונות"><span class="thspan">פירוט ספקי שונות</span></th>
                <th title="הערות"><span class="thspan">הערות</span></th>
                <th title=""><span class="thspan"></span></th>
            </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody>
            <% users.forEach(user => { %>
            <tr data-id = "<%= user.id  %> ">
                <td title=<%= user.id%>> <span><%= user.id %></span></td>
                <td title=<%= user.date%>> <span> <%= user.date %></span></td>
                <td title=<%= user.credit %>><span><%= user.credit %></span></td>
                <td title=<%= user.debit %>><span><%= user.debit %></span></td>
                <td title=<%= user.apt %>><span><%= user.apt %></span></td>
                <td title=<%= user.name %>><span><%= user.name %></span></td>
                <td title=<%= user.receipt %>><span><%= user.receipt %></span></td>
                <td title=<%= user.forsomeone %>><span><%= user.forsomeone %></span></td>
                <td title=<%= user.details %>><span><%= user.details %></span></td>
                <td title=<%= user.paymenttype %>><span><%= user.paymenttype %> </span></td>
                <td title=<%= user.provider %>><span><%= user.provider %></span></td>
                <td title=<%= user.differentsprovider %>><span><%= user.differentsprovider %> </span></td>
                <td title=<%= user.detailsdiferentproviders %>><span><%= user.detailsdiferentproviders %></span></td>
                <td title=<%= user.remarks %>><span><%= user.remarks %></span></td>
                <td>
                    <button class="badge badge-dark btnnoborder">send <i class="fa fa-paper-plane"
                            aria-hidden="true"></i></button>
                    <button type="button" class="badge badge-info btnnoborder openmodal" data-toggle="modal"
                        data-target=".bd-example-modal-lg">info <i class="fa fa-arrows-alt"
                            aria-hidden="true"></i></button>
                </td>
            </tr>

           
            <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="direction: initial;">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"> update a transaction</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form>
                        <div class="form-row">
                            <div class=" col-md-3">
                                <label for="recipient-name" class="col-form-label"> date</label>
                                <input type="text" class="form-control date" id="recipient-name" value="<%= user.date %>"> 
                            </div>
                            <div class=" col-md-2">
                                <label for="recipient-name" class="col-form-label">appartement</label>
                                <input type="text" class="form-control apt" id="recipient-name" value="<%= user.apt %>" > 
                            </div>
                            <div class=" col-md-7">
                                <label for="recipient-name" class="col-form-label">name</label>
                                <input type="text" class="form-control name" id="recipient-name" value="<%= user.name %>" > 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <label for="recipient-name" class="col-form-label">provider</label>
                                <input type="text" class="form-control provider" id="recipient-name" value="<%= user.provider %>" >
                            </div>
                            <div class="col-md-3">
                                <label for="recipient-name" class="col-form-label">type of payment</label>
                                <input type="text" class="form-control paymentype" id="recipient-name" value="<%= user.paymenttype %>" >                           
                            </div>
                            <div class="col-md-2">
                                <label for="recipient-name" class="col-form-label">credit</label>
                                <input type="text" class="form-control credit" id="recipient-name" value="<%= user.credit %>" >
                            </div>
                            <div class="col-md-2">
                                <label for="recipient-name" class="col-form-label">debit</label>
                                <input type="text" class="form-control debit" id="recipient-name" value="<%= user.debit %>" >
                            </div>
                            <div class="col-md-2">
                                <label for="recipient-name" class="col-form-label">receipt number</label>
                                <input type="text" class="form-control receipt" id="recipient-name" value="<%= user.receipt %>" >
                            </div>
                      </div>
                         
                    <div class="form-row">
            
                        <div class="col-md-3">
                            <label for="recipient-name" class="col-form-label">different provider</label>
                            <input type="text" class="form-control differentsprovider" id="recipient-name" value="<%= user.differentsprovider %>">
                        </div>
                        <div class="col-md-3">
                            <label for="recipient-name" class="col-form-label">details about provider</label>
                            <input type="text" class="form-control detailsdiferentproviders" id="recipient-name" value="<%= user.detailsdiferentproviders %>">
                        </div>
                           
                        <div class="col-md-3">
                                <label for="recipient-name" class="col-form-label">details</label>
                                <input type="text" class="form-control details" id="recipient-name" value="<%= user.details %>">
                         </div>
                         
                         <div class="col-md-3">
                            <label for="recipient-name" class="col-form-label">for</label>
                            <input type="text" class="form-control for" id="recipient-name" value="<%= user.for %>">
                        </div>
                            
                        </div>
                        
                        <div class="form-group">
                          <label for="message-text" class="col-form-label">Message</label>
                          <textarea class="form-control  remarks"  id="message-text" ><%= user.remarks  %></textarea>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Send</button>
                    </div>
                  </div>
                </div>
              </div>


            <% }) %>
        </tbody>
    </table>
</div>
<script type = "text/javascript">
$('.openmodal').click(function (e) {
    e.preventDefault();
    var tr = $(this).closest('tr')

    console.log(tr.data)
       // modal = $('#editCategory');
    // make AJAX call passing the ID
  //  $.getJSON('/admin/categories/get-cateory/' + tr.data('id'), function (data) {
        // set values in modal
     //   modal.find('form').attr('action', '/admin/categories/get-cateory/' + tr.data('id') );
      //  modal.find('[name=title]').val( data.title );
        // open modal
        modal.modal('show');
    });

</script>