<div class="table-responsive hebrewtable">
    <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th title="id"><span class="thspan">id</span></th>
                <th title="תאריך"><span class="thspan">תאריך</span></th>
                <th title="זכות"><span class="thspan">זכות</span></th>
                <th title="חובה"><span class="thspan">חובה</span></th>
                <th title="דירה"><span class="thspan">דירה</span></th>
                <th title="שם"><span class="thspan">שם</span></th>
                <th title="קבלה"><span class="thspan">קבלה</span></th>
                <th title="עבור"><span class="thspan">עבור</span></th>
                <th title="פירוט"><span class="thspan">פירוט</span></th>
                <th title="סוג תשלום"><span class="thspan">סוג תשלום</span></th>
                <th title="ספק"><span class="thspan">ספק</span></th>
                <th title="ספקי שונות"><span class="thspan">ספקי שונות</span></th>
                <th title="פירוט ספקי שונות"><span class="thspan">פירוט ספקי שונות</span></th>
                <th title="הערות"><span class="thspan">הערות</span></th>
                <th title=""><span class="thspan"></span></th>
            </tr>
        </thead>
        <tfoot>

        </tfoot>
        <tbody>
            <% users.forEach(user => { %>
            <tr  data-date = "<%= user.date  %> "
                data-credit = "<%= user.credit  %> "
                data-debit = "<%= user.debit  %> "
                data-apt = "<%= user.apt  %> "
                data-name = "<%= user.name  %> "
                data-receipt = "<%= user.receipt  %> "
                data-forsomeone = "<%= user.forsomeone  %> "
                data-details = "<%= user.details  %> "
                data-paymenttype = "<%= user.paymenttype  %> "
                data-provider = "<%= user.provider  %> "
                data-differentsprovider = "<%= user.differentsprovider  %> "
                data-remarks = "<%= user.remarks  %> " 
                data-detailsdiferentproviders = "<%= user.detailsdiferentproviders  %> ">
                <td title=<%= user.id%>> <span><%= user.id %></span></td>
                <td title=<%= user.date%>> <span> <%= user.date %></span></td>
                <td title=<%= user.credit %>><span><%= user.credit %></span></td>
                <td title=<%= user.debit %>><span><%= user.debit %></span></td>
                <td title=<%= user.apt %>><span><%= user.apt %></span></td>
                <td title=<%= user.name %>><span><%= user.name %></span></td>
                <td title=<%= user.receipt %>><span><%= user.receipt %></span></td>
                <td title=<%= user.forsomeone %>><span><%= user.forsomeone %></span></td>
                <td title=<%= user.details %>><span><%= user.details %></span></td>
                <td title=<%= user.paymenttype %>><span><%= user.paymenttype %> </span></td>
                <td title=<%= user.provider %>><span><%= user.provider %></span></td>
                <td title=<%= user.differentsprovider %>><span><%= user.differentsprovider %> </span></td>
                <td title=<%= user.detailsdiferentproviders %>><span><%= user.detailsdiferentproviders %></span></td>
                <td title=<%= user.remarks %>><span><%= user.remarks %></span></td>
                <td>
                    <button class="badge badge-dark btnnoborder">send <i class="fa fa-paper-plane"
                            aria-hidden="true"></i></button>
                    <button type="button" class="badge badge-info btnnoborder openmodal" data-toggle="modal"
                        data-target=".bd-example-modal-lg">info <i class="fa fa-arrows-alt"
                            aria-hidden="true"></i></button>
                </td>
            </tr>

           
         

            <% }) %>
            <div class="modal fade bd-example-modal-lg" id="showdetailsmodal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="direction: initial;">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel"> update a transaction</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="http://nihuleapi.herokuapp.com/updateDailyReport" id="updateDailyReport" method="POST">
                        <div for="email" class="wrap-input100 validate-input" data-validate = "Enter username">
                            <input class="input100" type="text" id ="email" name="email" placeholder="User name">
                            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        </div>
    
                        <div for="password"class="wrap-input100 validate-input" data-validate="Enter password">
                            <input class="input100" type="password" id="password" name="password" placeholder="Password">
                            <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                        </div>
                        <div  class="form-row">
                            <div class=" col-md-3" ></div>
                                <label for="date" class="col-form-label"> date</label>
                                <input type="text" name="date" class="form-control date" id="date"> 
                            </div>
                            <div class=" col-md-2">
                                <label for="apt" class="col-form-label">appartement</label>
                                <input type="text"  name="apt" class="form-control apt" id="apt"> 
                            </div>
                            <div class=" col-md-7">
                                <label for="name" class="col-form-label">name</label>
                                <input type="text"  name="name" class="form-control name" id="name"> 
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-3">
                                <label for="provider" class="col-form-label">provider</label>
                                <input type="text"  name="provider" class="form-control provider" id="provider">
                            </div>
                            <div class="col-md-3">
                                <label for="paymenttype" class="col-form-label">type of payment</label>
                                <select class="custom-select" id="paymenttype" name="paymenttype">
                                    <option selected class="paymenttype"></option>
                                    <option value="1">transfer</option>
                                    <option value="2">cash</option>
                                    <option value="3">check</option>
                                  </select>                   
                            </div>
                            <div class="col-md-2">
                                <label for="credit" class="col-form-label">credit</label>
                                <input type="text" name="credit" class="form-control credit" id="credit">
                            </div>
                            <div class="col-md-2">
                                <label for="debit" class="col-form-label">debit</label>
                                <input type="text"  name="debit" class="form-control debit" id="debit">
                            </div>
                            <div class="col-md-2">
                                <label for="receipt" class="col-form-label">receipt number</label>
                                <input type="text" name="receipt" class="form-control receipt" id="receipt" >
                            </div>
                      </div>
                         
                    <div class="form-row">
            
                        <div class="col-md-3">
                            <label for="differentsprovider" class="col-form-label">different provider</label>
                            <input type="text" name="differentsprovider" class="form-control differentsprovider" id="differentsprovider">
                        </div>
                        <div class="col-md-3">
                            <label for="detailsdiferentproviders" class="col-form-label">details about provider</label>
                            <input type="text" name="detailsdiferentproviders" class="form-control detailsdiferentproviders" id="detailsdiferentproviders">
                        </div>
                           
                        <div class="col-md-3">
                                <label for="details" class="col-form-label">details</label>
                                <input type="text" name="details" class="form-control details" id="details">
                         </div>
                         
                         <div class="col-md-3">
                            <label for="for" class="col-form-label">for</label>
                            <input type="text" name="for" class="form-control for" id="for">
                        </div>
                    
                        </div>
                        
                        <div class="form-group">
                          <label for="Message" class="col-form-label">Message</label>
                          <textarea name="remarks" class="form-control remarks"  id="Message" ></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit"  value="submit" form="updateDailyReport" data-dismiss="modal" class="btn btn-primary">update</button>
                          </div>
                      </form>
                    </div>
                   
                  </div>
                </div>
              </div>

        </tbody>
    </table>
</div>
