<div class="table-responsive" >
    <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
        <thead>
                <tr>
                    <th title="תאריך" ><span class="thspan">תאריך</span></th>
                    <th title="זכות"><span class="thspan">זכות</span></th>
                    <th title="חובה"><span class="thspan">חובה</span></th>
                    <th title="דירה"><span class="thspan">דירה</span></th>
                    <th title="שם"><span class="thspan">שם</span></th>
                    <th title="קבלה"><span class="thspan">קבלה</span></th>
                    <th title="עבור"><span class="thspan">עבור</span></th>
                    <th title="פירוט"><span class="thspan">פירוט</span></th>
                    <th title="סוג תשלום"><span class="thspan">סוג תשלום</span></th>
                    <th title="ספק"><span class="thspan">ספק</span></th>
                    <th title="ספקי שונות"><span class="thspan">ספקי שונות</span></th>
                    <th title="פירוט ספקי שונות"><span class="thspan">פירוט ספקי שונות</span></th>
                    <th title="הערות"><span class="thspan">הערות</span></th>
                </tr>
        </thead>
        <tfoot>
                <tr>
                    <th title="תאריך" ><span class="thspan">תאריך</span></th>
                    <th title="זכות"><span class="thspan">זכות</span></th>
                    <th title="חובה"><span class="thspan">חובה</span></th>
                    <th title="דירה"><span class="thspan">דירה</span></th>
                    <th title="שם"><span class="thspan">שם</span></th>
                    <th title="קבלה"><span class="thspan">קבלה</span></th>
                    <th title="עבור"><span class="thspan">עבור</span></th>
                    <th title="פירוט"><span class="thspan">פירוט</span></th>
                    <th title="סוג תשלום"><span class="thspan">סוג תשלום</span></th>
                    <th title="ספק"><span class="thspan">ספק</span></th>
                    <th title="ספקי שונות"><span class="thspan">ספקי שונות</span></th>
                    <th title="פירוט ספקי שונות"><span class="thspan">פירוט ספקי שונות</span></th>
                    <th title="הערות"><span class="thspan">הערות</span></th>
                </tr>
           
        </tfoot>
        <tbody>
            <% users.forEach(user => { %>
            <tr>
                    <td title=<%= user.date %> span class="tdspan"><%= user.date %></span></td>
                    <td title=<%= user.credit %>><span class="tdspan"><%= user.credit %></span></td>
                    <td title=<%= user.debit %>><span class="tdspan"><%= user.debit %></span></td>
                    <td title=<%= user.apt %>><span class="tdspan"><%= user.apt %></span></td>
                    <td title=<%= user.name %>><span class="tdspan"><%= user.name %></span></td>
                    <td title=<%= user.receipt %>><span class="tdspan"><%= user.receipt %></span></td>
                    <td title=<%= user.forsomeone %>><span class="tdspan"><%= user.forsomeone %></span></td>
                    <td title=<%= user.details %>><span class="tdspan"><%= user.details %></span></td>
                    <td title=<%= user.paymenttype %>><span class="tdspan"><%= user.paymenttype %> </span></td>
                    <td title=<%= user.provider %>><span class="tdspan"><%= user.provider %></span></td>
                    <td title=<%= user.differentsprovider %>><span class="tdspan"><%= user.differentsprovider %> </span></td>
                    <td title=<%= user.detailsdiferentproviders %>><span class="tdspan"><%= user.detailsdiferentproviders %></span></td>
                    <td title=<%= user.remarks %>><span class="tdspan"><%= user.remarks %></span></td>       
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>